<div class="post-list-container">
  <div class="post-creation">
  	<p>{{$ctrl.name}}</p>
    <div class="create-post">
      <p>Title:</p>
      <input type="text" ng-model="$ctrl.inputTitle" />
      <p>Text:</p>
      <input type="text" ng-model="$ctrl.inputText" />
      <button ng-click="$ctrl.addNew()">Submit Post</button>
    </div>
    <p>
    	Sort by:
    	<select ng-model="$ctrl.orderProp">
    		<option value="score">Hot</option>
    		<option value="timeCreated">New</option>
    	</select>
    </p>
  </div>
  <ul class="posts">
    <li class="post-line" ng-repeat="post in $ctrl.posts | orderBy:$ctrl.orderProp:true">
      <p>{{post.score}}</p>
      <div class="vote-buttons">
      	<button ng-click="$ctrl.vote(post.id, true)">&uarr;</button>
      	<button ng-click="$ctrl.vote(post.id, false)">&darr;</button>
      </div>
      <a href="#!/post/{{post.id}}">
        <div class="post-content">
          <h3>{{post.title}}</h3>
          <p>{{post.text}}</p>
          <p>Comments count: {{post.comments}}</p>
        </div>
      </a>
    </li>
  </ul>
</div>