<div class="post-creation">
	<p>{{$ctrl.name}}</p>
  <input type="text" ng-model="$ctrl.inputTitle" />
  <input type="text" ng-model="$ctrl.inputText" />
  <button ng-click="$ctrl.addNew()">Submit Post</button>
  <p>
  	Sort by:
  	<select ng-model="$ctrl.orderProp">
  		<option value="score">Hot</option>
  		<option value="timeCreated">New</option>
  	</select>
  </p>
</div>
<ul class="posts">
  <li ng-repeat="post in $ctrl.posts | orderBy:$ctrl.orderProp:true">
    <h3>{{post.title}}</h3>
    <p>{{post.text}}</p>
  </li>
</ul>