/* app css stylesheet */
* {
	padding: 0;
	margin: 0;
}

.create-post {
	padding: 1em;
}

.post-list-container {
	display: flex;
	flex-direction: column;
}

.post-list-container li {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1em;
}

.vote-buttons {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.post-content {
	flex-direction: column;
}
