/* app css stylesheet */
* {
	padding: 0;
	margin: 0;
}

a {
	cursor: pointer;
}

.post-list-container {
	display: flex;
	flex-direction: column;
}

.post-list-container li {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1em;
}

.post-score, .comment-score{
	min-width: 20px;
}

.btn {
	margin: 3px;
}

.create-post {
	padding: 1em;
}

.vote-buttons {
	display: flex;
	flex-direction: column;
	padding: 1em;
	align-items: center;
}

.post-title-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post-title {
	font-size: 1.5em;
	text-decoration: underline;
}

.posts .collection-item:hover {
	background-color: #b2dfdb;
}

.post, .post-content {
	display: flex;
	flex-direction: column;
}

.post-title, .post-text, .comment-count {
	padding: 5px;
}

.comments-container { 
	display: flex;
	flex-direction: column;
	width: 100%;
}

.comment-item-line {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 1em;
	align-items: center;
}

.comment-vote-buttons {
	display: flex;
	flex-direction: column;
}

.comment-text-area {
	display: flex;
	flex-direction: column;
}
