<script type="text/ng-template" id="nodes_renderer.html">
	<div class="tree-node tree-node-content">
		<div class="collection-item comment-item-line">
	    <div class="vote-buttons">
		    <a class ="btn-floating waves-effect waves-light" ng-click="$ctrl.voteComment(comment.id, true)"><i class="material-icons">thumb_up</i></a>
				<a class="btn red comment-score">{{comment.score}}</a>
		    <a class ="btn-floating waves-effect waves-light" ng-click="$ctrl.voteComment(comment.id, false)"><i class="material-icons">thumb_down</i></a>
	    </div>
	    <div class="container coment-text-area">
		    <p>{{comment.text}}</p>
		    <a ng-click="$ctrl.prepareComment(comment.id)">reply</a>
	    </div>
    </div>
	</div>
  <ol ui-tree-nodes="" ng-model="$comment.comments" ng-class="{hidden: collapsed}">
    <li ng-repeat="comment in comment.comments | orderBy:$ctrl.orderProp:true" ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<div class="post-detail-container">
	<div class="container post">
		<div class="post-title-row">
	    <div class="vote-buttons">
	    	<a class ="btn-floating waves-effect waves-light" ng-click="$ctrl.vote($ctrl.post.id, true)"><i class="material-icons">thumb_up</i></a>
		    <a class="btn red post-score">{{$ctrl.post.score}}</a>
	    	<a class ="btn-floating waves-effect waves-light" ng-click="$ctrl.vote($ctrl.post.id, false)"><i class="material-icons">thumb_down</i></a>
	    </div>
	    <div class="post-content">
				<h3>{{$ctrl.post.title}}</h3>
				<p>{{$ctrl.post.text}}</p>
	    </div>
		</div>
	</div>
	<div class="comments-container" >
		<div ui-tree>
			<div class="container comment-box">
				<h3>Comments</h3>
				<a class ="btn waves-effect waves-light" ng-click="$ctrl.showCommentBox()" ng-hide="!$ctrl.commentBoxShow">Write Comment</a>
				<div class="comment-input" ng-hide="$ctrl.commentBoxShow">
					<input class="comment-input-box" ng-model="$ctrl.commentInput"/>
					<a class="btn waves-effect waves-lightng-click">Submit Comment</a>
				</div>
			</div>
			<div ui-tree id="tree-root" ng-if="$ctrl.postComments.length">
	      <ol ui-tree-nodes class="collection" ng-model="$ctrl.postComments">
	        <li class="collection-item" ng-repeat="comment in $ctrl.postComments | orderBy:$ctrl.orderProp:true" ui-tree-node ng-include="'nodes_renderer.html'"></li>
	      </ol>
	    </div>
		</div>
	</div>
</div>